.contact {
    display: flex;
    line-height: 64px;
    font-size: 1.5em;
    border-bottom: 1px solid black;
}

.contact:last-child {
    border: 0;
}

.contact-photo {
    order: 0;
}

.contact-name,
.contact-address {
    margin: 0 10px;
}

.contact-name {
    font-size: 1em;
    font-weight: normal;
    flex-grow: 1;
    order: 1;
}

.contact-address {
    font-style: normal;
    order: 2;
}

.contact:target {
    background: rgba(255, 255, 0, 0.4);
}