h1 {
  margin: 0;
}

.navigation-bar {
  border-bottom: 1px solid black;
  padding: 10px;
}

.navigation-bar h1, .navigation-bar nav, .navigation-bar-nav li {
  display: inline-block;
  line-height: 50px;
  vertical-align: middle;
}

.navigation-bar-nav li {
  margin-right: 10px;
}
